#greeting {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
    font-size: 18pt;
    font-display: swap ;
    border-left: 10%;
    text-align: center;
    margin-bottom: 2%;
}
body{
    background-color:rgb(215, 231, 245)
}
#section1 {
    background-color: #56baed;
    border: 1px solid rebeccapurple;
    width: 80%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
#section1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#operand1Paragraph {
    float: left;
    padding-right:2%;
    align-content: center;
    padding-left:20%;
    border-left: 10%;
    text-align: center;  
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#operand2Paragraph {
    padding-right:12%;
    align-content: center;
    padding-left:2%;
    text-align: center;  
        
}
#fadeInDown {
    background-color: #56baed;
    border: 1px solid rebeccapurple;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}
#fadeInDown p {
    padding-right:2%;
    align-content: center;
    padding-left:10%;
    border-left: 10%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
      -webkit-transform: rotateY('70');
      transform: rotateY('70');
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  #fadeInDown {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  #fadeInDown {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  
  